@{
    ViewData["Title"] = "Dashboard";
}

<div class="jumbotron text-center bg-light">
    <h1 class="display-4">Welcome, Admin!</h1>
    <p class="lead mt-3">
        Manage Weapons and Users with Ease.
    </p>
    <hr class="my-4">
    <p class="lead">
        Here, you have the authority to <strong>create</strong>, <strong>update</strong>,
        <strong>delete</strong>, and <strong>explore</strong> different aspects.
    </p>
    <a asp-area="" asp-controller="Weapon" asp-action="All"
       class="btn btn-primary btn-lg mr-3">Browse Weapons</a>
    <a asp-area="" asp-controller="Weapon" asp-action="Submit"
       class="btn btn-success btn-lg mr-3">Add New Weapon</a>
    <a asp-area="" asp-controller="Weapon" asp-action="Mine"
       class="btn btn-info btn-lg mr-3">My Weapons</a>
    <a asp-area="Admin" asp-controller="User" asp-action="All"
       class="btn btn-secondary btn-lg">View Users</a>
</div>
    <partial name="_LoginPartial" />
