@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-family: Rubik_Dirt, sans-serif; font-size: 50px; color: #EBECD9 ;" class="display-4"> Welcome to Wasteland Rifleworks</h1>
    <p style="font-family: Rubik Dirt, sans-serif; font-size: 28px; color: #EBECD9 ;">The place for all of your homemade, duct-tape held, crazy weapons needs! </p>
    <partial name="_LoginPartial" />
</div>


