@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="intro-section p-5 bg-light">
        <h1 class="display-4">Welcome to <span class="text-secondary">Wasteland Rifleworks</span>!</h1>
        <p class="lead">We are a community of engineers, designers, and enthusiasts dedicated to creating and sharing exceptional weapon designs. Whether you're looking for innovative designs, inspiration, or to showcase your own creations, you've come to the right place.</p>
        <p class="lead">Explore our collection of unique weapons, ranging from simple designs to complex masterpieces. If you're an engineer, you can submit your own creations and contribute to our growing arsenal.</p>
        <p class="lead">Join us in the quest for survival and creativity in the gun-nut world!</p>
    </div>
    <partial name="_LoginPartial" />
</div>